extends layout

block content
    <form method="POST" action="/new">
        input(type="text" name="Name" placeholder="Name")
        br
        input(type="text" name="Message" placeholder= "Message")
        br
        input(type="submit")
    </form>

